<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script data-ad-client="ca-pub-9073544643006700" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% block stylesheet %}
    {% endblock stylesheet %}
    <title>theFans</title>
</head>
<body>
    <!-- Navigation -->
    <nav class="nav-bar">
        <div class="nav-left">
            <h1>theFans</h1>
        </div>
        <ul class="nav-links nav-right">
            <li><a href="{% url 'post_list' %}">Posts</a></li>
            <li><a href="{% url 'games' %}">Games</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'update_user' user.slug %}">{{ user.username }}</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock content %}
</body>

</html>