{% extends 'user_base.html' %}

{% block content %}

<a href="{% url 'login' %}"><i class="arrow far fa-arrow-alt-circle-left" style="z-index:999;"></i></a>

{% comment %} <div id="particles-js"></div> {% endcomment %}

<h1>Reset Password</h1>

<div class="container" id="container">
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Send Email</button>
        </form>
    </div>
</div>

{% endblock content %}