[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
scikit-learn = "*"
basketball-reference-scraper = "*"
pillow = "*"
whitenoise = "*"
mlxtend = "*"
nba-api = "*"
channels-redis = "*"
pypiwin32 = "*"
django-redis-cache = "*"

[requires]
python_version = "3.7"
