body {
    background-color: #100e17;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
}

.arrow {
    color: white;
    position: absolute;
    margin-left: 2rem;
    margin-top: -32px;
    font-size: 42px;
}

.arrow:hover {
    color: rgb(10, 37, 189);
}

.date-header {
    text-align: center; 
    margin-top: 2em; 
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 1200px;
}

.card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border: 1px solid #17141d;
    border-radius: 10px;
    box-shadow: 1rem 1rem 4rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    margin: 1em;
    padding: 1em;
}

.card:hover {
    border: 1px solid #0A25BD;
    box-shadow: 0px 0px 1px 1px rgba(10, 37, 189, .5);
    transition: 0.2s ease-in-out;
}

.title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
}

.home {
    top: 10px;
}

.visitor {
    top: 40px;
}

.home-prob, .visitor-prob {
    font-family: 'IBM Plex Mono', monospace;
    left: 145px;
}

span {
    font-family: 'Montserrat', sans-serif;
}

.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 190px;
}

.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 190px;
    height: 100%;
    background: #0A25BD;
    box-shadow: 0rem 0 3rem #000;
    /* background: linear-gradient(to right, rgba(10, 37, 189, 1) 0%, rgba(18, 50, 228, 0.5) 100%, rgba(0,154,217,1)); */
    transition: 0.6s ease-out;
}

.circle {
    position: absolute;
    top: 265px;
    left: calc(50% - 60px);
    transform: rotate(-90deg);
    transform-origin: top left;
}

.circle-bottom {
    transform: rotate(-90deg) scaleY(-1);
    transform-origin: top left;
    margin-left: 120px;
}

.stroke {
    stroke: rgb(255, 255, 255);
    transition: 0.6s ease-out;
    fill: #17141d;
    stroke-width: 2px;
}

.inner-stroke {
    stroke: rgb(10, 37, 189);
    transition: 0.6s ease-out;
    fill: #17141d;
    stroke-width: 2px;
}

.card:hover .stroke {
    transition: 0.6s ease-out;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
}