{% extends 'post_base.html' %}

{% block content %}

<h1>{{ title }}</h1>

Written: {{ instance.timestamp }}, Last Updated: {{ instance.updated }}<br/><br/>

{% if instance.image %}
    <img src='{{ instance.image.url }}' width="200" height="150"/>
{% endif %}

<p>{{ instance.content }}</p><br/><br/>

{% if request.user.is_staff or request.user.is_superuser %}
    <a href="{% url 'update' instance.slug %}">Update</a>
    <a href="{% url 'delete' instance.slug %}">Delete</a>
{% endif %}

{% endblock content %}