{% extends 'post_base.html' %}

{% block stylesheets %}
    {% load static %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'post_detail.css' %}">
{% endblock stylesheets %}

{% block links %}
    <li><a href="{% url 'post_list'%}">Posts</a></li>
{% endblock links %}

{% block content %}

<div class="container">
    <div class="article-container">
        <h1 class="title">{{ title }}</h1>

        <p>By: {{ instance.writer }}</p>

        <p>Updated: {{ instance.updated }}</p>

        <h4 style="color:#fff;">{{ instance.summary }}</h4><br/>

        {% if instance.image %}
            <img class="header-img" src='{{ instance.image.url }}'/>
        {% endif %}

        <div class="article-contents">
            <p class="content-markdown">{{ instance.content|safe }}</p>
        </div>
    </div>

    <div class="article-links">
        {% if request.user.is_staff or request.user.is_superuser %}
            <br/><p>Views: {{ instance.views }}</p>
            <a href="{% url 'update' instance.slug %}">Edit</a>
            <a href="{% url 'delete' instance.slug %}">Delete</a>
        {% endif %}
    </div>
</div>


{% endblock content %}