
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
    {% endblock stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>theFans</title>
</head>

<div class="container"/>
    {% comment %} {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %} {% endcomment %}

    <div class="nav-fixed">
        <nav class="nav-bar">
            <div class="nav-left">
                <h1 class="site-title" onclick="window.location.href='/'">theFans</h1>
            </div>
            <ul class="nav-links nav-right">
                {% if request.user.is_staff or request.user.is_superuser %}
                    <li><a href="{% url 'create'%}">Create New</a></li>
                {% endif %}
                {% block links %}
                {% endblock links%}
                <li><a href="{% url 'games' %}">Games</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'update_user' user.slug %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    {% block content %}
    {% endblock content %} 
</div>

<script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.8.2/marked.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $(".content-markdown").each(function(){
        var content = $(this).text();
        var markedContent = marked(content);
        $(this).html(markedContent);
    })
})
</script>