{% load static %}

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'games.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'game_detail.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Montserrat&display=swap" rel="stylesheet">
    <title>twentyfourseconds</title>
</head>

<div class="header">
    <div class="nav-button">
        <a  href="{% url 'games' %}"><i class="arrow far fa-arrow-alt-circle-left"></i></a>
    </div>

    <h1>{{ instance.home_team }} vs. {{ instance.visitor_team }}</h1>
</div>

<div class="body-container">
    <div class="chat">
        <div class="chat-box">
            <div id="messages">
                {% for msg in message_queryset %}
                    <p class="idv-message"><span class="msg-meta">{{ msg.author }}  <span class="time">  {{ msg.timestamp }}</span></span></br>{{ msg.content }}</p>
                {% endfor %}
            </div>

            {{ room_name|json_script:"room-name" }}

            <p id="user" style="display:none;">{{ user.username }}</p>
        </div>

        <div class="input-boxes">
            <input id="chat-message-input" type="text" placeholder="Join the discussion"/>
            <button id="chat-message-submit" type="button"><i class="fas fa-arrow-right"></i></button>
        </div>

        <div class="posts">
            <h2>Related Posts</h2>
            {% for post in posts %}
                <div class="blog-card">
                    <div class="meta">
                        {% if post.image %}
                            <div class="photo" style="background-image: url({{ post.image.url }})"></div>
                            <img src='{{ post.image.url }}' width="200" height="150"/><br/> 
                        {% endif %}
                        <ul class="details">
                            <li class="author"><a href="#">Written by: {{ post.author }}</a></li>
                            <li class="date">{{ post.timestamp }}</li>
                        </ul>
                    </div>
                    <div class="description">
                        <h1>{{ post.title }}</h1>
                        <h2>{{ post.summary }}</h2>
                        <p class="content-markdown">{{ post.content|truncatechars:150}}</p>
                        <p class="read-more">
                            <a href="{{ post.get_absolute_url }}">Read More</a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="right-side-container">
        <div class="right-side">
            <div class="card">
                <h3 class="title home">{{ instance.home_team }}</h3>
                <h3 class="title visitor">{{ instance.visitor_team }}</h3>
                <h3 class="title home home-prob">{{ instance.home_probability }}<span>%</span></h3>
                <h3 class="title visitor visitor-prob">{{ instance.visitor_probability }}<span>%</span></h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                </div>
                <div class="circle circle-top">
                    <svg version="1.1" xmlns="https://www.w3.org/2000/svg">   
                        <circle class="stroke" cx="60" cy="60" r="58"  stroke-dasharray="364.42" stroke-dashoffset="{{ instance.get_home_prob_for_circle }}"/>
                    </svg>
                </div>
                <div class="circle circle-bottom">
                    <svg version="1.1" xmlns="https://www.w3.org/2000/svg">   
                        <circle class="inner-stroke" cx="60" cy="60" r="58"  stroke-dasharray="364.42" stroke-dashoffset="{{ instance.get_visitor_prob_for_circle }}"/>
                    </svg>
                </div>
            </div>
            
            <a class="twitter-timeline" data-width="250" data-height="400" data-theme="light" href="https://twitter.com/{{ home_user }}/lists/{{ home_twitter }}?ref_src=twsrc%5Etfw">{{ home_twitter }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <a class="twitter-timeline" data-width="250" data-height="400" data-theme="light" href="https://twitter.com/{{ visitor_user }}/lists/{{ visitor_twitter }}?ref_src=twsrc%5Etfw">{{ visitor_twitter }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>

<script src='{% static 'reconnecting-websocket.js' %}'></script>
<script src='{% static 'chat.js' %}'></script>