{% load static %}

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'games.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Montserrat&display=swap" rel="stylesheet">
    <title>theFans</title>
</head>

<body>
    <div class="header">
        <div class="nav-button">
            <a  href="{% url 'index' %}" ><i class="arrow far fa-arrow-alt-circle-left"></i></a>
        </div>

        <h1 style="text-align: center; margin-top: 2em; color: white;">NBA Game Prediction Probabilities</h1>
        {% for game in object_list|slice:":1" %}
            <h3 style="text-align: center; margin-top: 2em; color: white;">{{ game.get_today }}</h3>
        {% endfor %}
    </div>

    <!-- CHANGE BACK AFTER TESTING -->

    <div class="container">
        {% for game in object_list|slice:":8" %}
            {% comment %} {% if game.is_today %} {% endcomment %}
                <a href={% url 'game_detail' game.slug %}>
                <div class="card">
                    <h3 class="title home">{{game.home_team}}</h3>
                    <h3 class="title visitor">{{game.visitor_team}}</h3>
                    <h3 class="title home home-prob">{{game.home_probability}}<span>%</span></h3>
                    <h3 class="title visitor visitor-prob">{{game.visitor_probability}}<span>%</span></h3>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                    </div>
                    <div class="circle circle-top">
                        <svg version="1.1" xmlns="https://www.w3.org/2000/svg">   
                            <circle class="stroke" cx="60" cy="60" r="58"  stroke-dasharray="364.42" stroke-dashoffset="{{ game.get_home_prob_for_circle }}"/>
                        </svg>
                    </div>
                    <div class="circle circle-bottom">
                        <svg version="1.1" xmlns="https://www.w3.org/2000/svg">   
                            <circle class="inner-stroke" cx="60" cy="60" r="58"  stroke-dasharray="364.42" stroke-dashoffset="{{ game.get_visitor_prob_for_circle }}"/>
                        </svg>
                    </div>
                </div>
                </a>
            {% comment %} {% endif %} {% endcomment %}
        {% endfor %}
    </div>

    {% comment %} {% for game in object_list|slice:":1" %}
        <h3 style="text-align: center; color: white;">{{ game.get_tomorrow }}</h3>
    {% endfor %}

    <div class="container">
        {% for game in object_list %}
            {% if game.is_tomorrow %}
                <div class="card">
                    <h3 class="title home">{{game.home_team}}</h3>
                    <h3 class="title visitor">{{game.visitor_team}}</h3>
                    <h3 class="title home home-prob">{{game.home_probability}}%</h3>
                    <h3 class="title visitor visitor-prob">{{game.visitor_probability}}%</h3>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                    </div>
                    <div class="circle circle-top">
                        <svg version="1.1" xmlns="https://www.w3.org/2000/svg">   
                            <circle class="stroke" cx="60" cy="60" r="58"  stroke-dasharray="364.42" stroke-dashoffset="{{ game.get_home_prob_for_circle }}"/>
                        </svg>
                    </div>
                    <div class="circle circle-bottom">
                        <svg version="1.1" xmlns="https://www.w3.org/2000/svg">   
                            <circle class="inner-stroke" cx="60" cy="60" r="58"  stroke-dasharray="364.42" stroke-dashoffset="{{ game.get_visitor_prob_for_circle }}"/>
                        </svg>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% for game in object_list|slice:":1" %}
        <h2 style="text-align: center; color: white;">Completed Games</h2>
        <h3 style="text-align: center; color: white;">{{ game.get_yesterday }}</h3>
    {% endfor %}

    <div class="container">
        {% for game in object_list %}
            {% if game.is_yesterday %}
                <div class="card">
                    <h3 class="title home">{{game.home_team}}</h3>
                    <h3 class="title visitor">{{game.visitor_team}}</h3>
                    <h3 class="title home home-prob">{{game.home_probability}}%</h3>
                    <h3 class="title visitor visitor-prob">{{game.visitor_probability}}%</h3>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                    </div>
                    <div class="circle circle-top">
                        <svg version="1.1" xmlns="https://www.w3.org/2000/svg">   
                            <circle class="stroke" cx="60" cy="60" r="58"  stroke-dasharray="364.42" stroke-dashoffset="{{ game.get_home_prob_for_circle }}"/>
                        </svg>
                    </div>
                    <div class="circle circle-bottom">
                        <svg version="1.1" xmlns="https://www.w3.org/2000/svg">   
                            <circle class="inner-stroke" cx="60" cy="60" r="58"  stroke-dasharray="364.42" stroke-dashoffset="{{ game.get_visitor_prob_for_circle }}"/>
                        </svg>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div> {% endcomment %}
</body>