body {
    background: #100e17;
    font-family: 'Montserrat', sans-serif;
}

body:after{
    content: "alpha";
    position: fixed;
    width: 80px;
    height: 25px;
    background: #EE8E4A;
    top: 7px;
    left: -20px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 27px;
    transform:rotate(-45deg);
    z-index: 101;
  }

.nav-bar {
    margin: 0px 2rem 0px 2rem;
}

.nav-left {
    position: absolute;
    text-align: left;
    font-size: .75em;
    color: white;
}

.nav-bar ul {
    padding: 1rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: right;
    text-align: center;
}

.nav-bar a{
    text-decoration: none;
    display: block;
    margin-top: -1em;
    padding: 1rem;
    font-size: .75em;
    color: #fff;
}

.nav-bar a:hover {
    color: #0A25BD;
}

@media (max-width: 685px) 
{
    .nav-bar {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .nav-left {
        position: relative;
        text-align: center;
        font-size: .75em;
        color: white;
    }

    .nav-bar ul {
        grid-template-columns: repeat(5, auto);
        justify-content: center;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
}