body {
    background: #100e17;
    font-family: 'Montserrat', sans-serif;
}

.nav-bar {
    margin: 0px 2rem 0px 2rem;
}

.nav-left {
    position: absolute;
    text-align: left;
    font-size: .75em;
    color: white;
}

.nav-bar ul {
    padding: 1rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: right;
    text-align: center;
}

.nav-bar a{
    text-decoration: none;
    display: block;
    margin-top: -1em;
    padding: 1rem;
    font-size: .75em;
    color: #fff;
}

.nav-bar a:hover {
    color: #0A25BD;
}

@media (max-width: 675px) 
{
    .nav-bar {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .nav-left {
        position: relative;
        text-align: center;
        font-size: .75em;
        color: white;
    }

    .nav-bar ul {
        grid-template-columns: repeat(5, auto);
        justify-content: center;
    }
}