.blog-card {
    margin: 0 1rem 1rem 1rem;
    /* margin-right: 3rem; */
    text-align: left;
}

.posts-container {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.game-container {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
}

.card {
    width: 230px;
    height: 300px;
    margin-top: 0;
}

.index-container {
    text-align: center;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.view-more-btn {
    background-color: transparent;
    border: 1px solid #fff;
    color: white;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
}

@media (max-width: 1006px)
{
    .game-container {
        display: none;
    }
}