body {
    background-color: #100e17;
    color: white;
    display: flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #100e17;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.arrow {
    color: white;
	position: absolute;
	justify-self: left;
	left: 30px;
	top: 30px;
	font-size: 42px;
}

.arrow:hover {
    color: #0A25BD;
}

h1 {
    margin-top: -2em;
    padding-bottom: 2em;
}

a {
    color: white;
    text-decoration: none;
    margin-top: 1em;
}

a:hover {
    color: #0A25BD;
}

button {
	border-radius: 20px;
	border: 1px solid #0A25BD;
	background-color: #0A25BD;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 1em;
    margin-top: 2em;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button:hover {
    color: #0A25BD;
    background-color: transparent;
    transition: .2s ease-in;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    padding: 0 50px;
    text-align: center;
    height: 60vh;
}

label {
    color: white;
    margin: 15px;
    margin-bottom: -5px;
}

span {
    display: none;
}

input {
	background-color: transparent;
	border: none;
	padding: 12px 15px;
	margin: 15px;
    width: 100%;
    border-bottom: 2px solid #0A25BD;
    color: white;
}

input:hover {
    border-bottom: 2px solid white;
    transition: .5s ease-in;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #100e17 inset !important;
    -webkit-text-fill-color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

select {
    margin: 15px;
}

.form-container {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
    color: white;
	position: relative;
    min-width: 400px; 
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 60vh;
    width: 300px;
    padding: 2rem;
    overflow: hidden;
    border: 2px solid rgba(10, 37, 189, .4);
}