* {
    color: white;
}

.site-title {
    cursor: pointer;
}

.nav-fixed {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #100e17;
}

.nav-bar {
    border-bottom: 1px solid white;
    -webkit-box-shadow: 0px 15px 10px -15px #000;
    -moz-box-shadow: 0px 15px 10px -15px #000;
    box-shadow: 0px 15px 10px -15px #000;
    margin-right: 2rem;
}

.nav-bar a {
    margin-top: .25rem;
    margin-bottom: -.15rem;
}

.nav-bar ul {
    padding: 0;
    margin-bottom: -.15rem;
}

.article-container {
    width: 100%;
    position: relative;
    text-align: left;
    margin: 2rem;
    margin-top: 95px;
    margin-left: 3vw;
    width: 70vw;
    max-width: 900px;
    padding: 1rem;
    padding-top: 0;
    z-index: -1;
    align-items: center;
}

.article-contents {
    line-height: 25px;
}

.header-img {
    width: 70vw;
    max-width: 900px;
    max-height: 500px;
    border-radius: 7px;
}

.article-links {
    text-align: left;
    margin: 2rem;
    padding: 1rem;
    margin-top: -2rem;
}

.martor-preview {
    color: black;
}

@media (min-width: 1450px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 685px) {
    .nav-fixed {
    }
    
    .nav-fixed ul {
        display: none;
    }

    .article-container {
        margin-top: 95px;
    }
}